# UpWork Credentials
export UPWORK_USERNAME=upwork_username
export UPWORK_PASSWORD=upwork_password
export UPWORK_SECRET_ANSWER=upwork_secret_answer

# Don't need to edit these
export LOGURU_FORMAT="{time} | <lvl>{message}</lvl>"
