# UpWork Credentials
UPWORK_USERNAME=upwork_username
UPWORK_PASSWORD=upwork_password
UPWORK_SECRET_ANSWER=upwork_secret_answer

# Don't need to edit these
LOGURU_FORMAT="{time} | <lvl>{message}</lvl>"
